<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    {% if site.logo %}<link rel="shortcut icon" href="{{ site.logo | relative_url }}">{% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        <br /><br />
        <a href="{% link about.md %}"><strong>About</strong></a><br />
        <br />
        <a href="https://github.com/tonyin"><i class="fab fa-github"></i> Github</a><br />
        <a href="https://linkedin.com/in/tonyin"><i class="fab fa-linkedin"></i> LinkedIn</a><br />
        <a href="https://twitter.com/tonyin"><i class="fab fa-twitter"></i> Twitter</a><br />
        <a href="mailto:t@tonyy.in"><i class="fas fa-envelope"></i> Email</a><br />
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>&copy; TY Tales 2018 &mdash; Hosted on GitHub Pages</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="/assets/js/fontawesome-all.min.js"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
